# IDM DataScience course final project submission

## Capstone Project -CAR Accident Severity

### Introduction/Business Problem

Considering the traffic conditions in the Seattle city let's consider a business model like installing accident prone areas signboard at the areas where more severe accidents occur. To predict the top 10 vulnerable places it is required to collect the accident data.The dataset is obtained from SDOT traffic management system available from 2004 to present. In order to predict the most vulnerable places to accident the following factors are considered i.e. time of occurrence, weather, fatalities, traffic delay, property damage etc. So, considering these factors the data has to be segregated and cleaned for predicting the accident severity at those 10 vulnerable places.

### About Data Set

This dataset is about past accident data. The Data-Collisions.csv data set includes details of 194673 accidents from 2004 to 2020. It has a total of 38 fields. The following fields are as below.


* OBJECTID:- ESRI unique identifier
* SHAPE:- ESRI geometry field
* INCKEY:-  unique key for the incident
* COLDETKEY:-Secondary key for the incident
* ADDRTYPE:- Collision address type: Alley\Block\Intersection
* INTKEY :- Key that corresponds to the intersection associated with a collision 
* LOCATION:-Description of the general location of the collision
* EXCEPTRSNCODE 
* EXCEPTRSNDESC 
* SEVERITYCODE:- A code that corresponds to the severity of the collision(3—fatality,2b—serious injury,2—injury,1—prop damage,0—unknown)
* SEVERITYDESC:-A detailed description of the severity of the collision
* COLLISIONTYPE:- Collision type
* PERSONCOUNT :- The total number of people involved in the collision
* PEDCOUNT :- The number of pedestrians involved in the collision. This is entered by the state.
* PEDCYLCOUNT :- The number of bicycles involved in the collision.This is entered by the state.
* VEHCOUNT :- The number of vehicles involved in the collision.This is entered by the state.
* INJURIES :- The number of total injuries in the collision. Thisis entered by the state.
* SERIOUSINJURIES :- The number of serious injuries in the collision.This is entered by the state.
* FATALITIES :- The number of fatalities in the collision. This isentered by the state.
* INCDATE :- The date of the incident.
* INCDTTM :- The date and time of the incident.
* JUNCTIONTYPE:- Category of junction at which collision took place
* SDOT_COLCODE :- A code given to the collision by SDOT.
* SDOT_COLDESC :- A description of the collision corresponding to the collision code.
* INATTENTIONIND :-Whether or not collision was due to inattention. (Y/N)
* UNDERINFL:- Whether or not a driver involved was under the influence of drugs or alcohol.
* WEATHER:- A description of the weather conditions during the time of the collision.
* ROADCOND :- The condition of the road during the collision.
* LIGHTCOND:- The light conditions during the collision.
* PEDROWNOTGRNT :- Whether or not the pedestrian right of way was not granted. (Y/N)
* SDOTCOLNUM :- A number given to the collision by SDOT.
* SPEEDING :- Whether or not speeding was a factor in the collision. (Y/N)
* ST_COLCODE:- A code provided by the state that describes the collision. For more information about these codes, please see the State Collision Code Dictionary.
* ST_COLDESC:- A description that corresponds to the state’s coding designation.
* SEGLANEKEY:- A key for the lane segment in which the collision occurred.
* CROSSWALKKEY:- A key for the crosswalk at which the collision occurred.
* HITPARKEDCAR:- Whether or not the collision involved hitting a parked car. (Y/N)

So the data has to be prepared before building a model.Data Wrangling is the process of converting data from the initial format to a format that may be better for analysis. The steps followed are as shown below.
* Identifying and handling missing values
* Data Evaluation
* Data Standardization
* Data Normalization

##### Import Libraries

In [74]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

##### Download the data set

In [75]:
!wget -O Data-Collisions.csv https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

--2020-10-12 18:02:02--  https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv
Resolving s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to s3.us.cloud-object-storage.appdomain.cloud (s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73917638 (70M) [text/csv]
Saving to: ‘Data-Collisions.csv’

100%[======================================>] 73,917,638  37.4MB/s   in 1.9s

2020-10-12 18:02:05 (37.4 MB/s) - ‘Data-Collisions.csv’ saved [73917638/73917638]

##### Load data from csv file

In [76]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [77]:
df.shape

(194673, 38)

##### Data Wrangling

* Identify and handle missing values

In [78]:
# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [79]:
#Evaluating for missing data
missing_data = df.isnull()
missing_data.head(5)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False

In [80]:
#Count missing values for each column
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

X
False    189339
True       5334
Name: X, dtype: int64

Y
False    189339
True       5334
Name: Y, dtype: int64

OBJECTID
False    194673
Name: OBJECTID, dtype: int64

INCKEY
False    194673
Name: INCKEY, dtype: int64

COLDETKEY
False    194673
Name: COLDETKEY, dtype: int64

REPORTNO
False    194673
Name: REPORTNO, dtype: int64

STATUS
False    194673
Name: STATUS, dtype: int64

ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

INTKEY
True     129603
False     65070
Name: INTKEY, dtype: int64

LOCATION
False    191996
True       2677
Name: LOCATION, dtype: int64

EXCEPTRSNCODE
True     109862
False     84811
Name: EXCEPTRSNCODE, dtype: int64

EXCEPTRSNDESC
True     189035
False      5638
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYCODE.1
False    194673
Name: SEVERITYCODE.1, dtype: int64

SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT
False    194673
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
False    194673
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE
False    194673
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC
False    194673
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND
True     164868
False     29805
Name: INATTENTIONIND, dtype: int64

UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT
True     190006
False      4667
Name: PEDROWNOTGRNT, dtype: int64

SDOTCOLNUM
False    114936
True      79737
Name: SDOTCOLNUM, dtype: int64

SPEEDING
True     185340
False      9333
Name: SPEEDING, dtype: int64

ST_COLCODE
False    194655
True         18
Name: ST_COLCODE, dtype: int64

ST_COLDESC
False    189769
True       4904
Name: ST_COLDESC, dtype: int64

SEGLANEKEY
False    194673
Name: SEGLANEKEY, dtype: int64

CROSSWALKKEY
False    194673
Name: CROSSWALKKEY, dtype: int64

HITPARKEDCAR
False    194673
Name: HITPARKEDCAR, dtype: int64

To deal with missing data we either drop the data or replace with mean values or the frequency of its occurence.
Some fields are not required for current bussiness scenario so first drop those fields. And also some fields the missing data is huge so i am removing those fields as well. The fields i am dropping are X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,INTKEY,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1, SEVERITYDESC,SDOT_COLDESC,INATTENTIONIND,SDOTCOLNUM,SPEEDING,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,PEDROWNOTGRNT,ST_COLCODE

In [81]:
#Let's drop the unwanted attributes 
df.drop(["X","Y","OBJECTID","INCKEY","COLDETKEY","REPORTNO","STATUS","INTKEY","EXCEPTRSNCODE","EXCEPTRSNDESC","EXCEPTRSNCODE","SEVERITYCODE.1","SEVERITYDESC","SDOT_COLDESC","INATTENTIONIND","SDOTCOLNUM","SPEEDING","ST_COLDESC","SEGLANEKEY","CROSSWALKKEY","PEDROWNOTGRNT","ST_COLCODE"],axis=1,inplace=True)
df.head(10)

,SEVERITYCODE,ADDRTYPE,LOCATION,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,HITPARKEDCAR
0,2,Intersection,5TH AVE NE AND NE 103RD ST,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),11,N,Overcast,Wet,Daylight,N
1,1,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),16,0,Raining,Wet,Dark - Street Lights On,N
2,1,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),14,0,Overcast,Dry,Daylight,N
3,1,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),11,N,Clear,Dry,Daylight,N
4,2,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),11,0,Raining,Wet,Daylight,N
5,1,Intersection,24TH AVE NW AND NW 85TH ST,Angles,2,0,0,2,2019/04/20 00:00:00+00,4/20/2019 5:42:00 PM,At Intersection (intersection related),11,N,Clear,Dry,Daylight,N
6,1,Intersection,DENNY WAY AND WESTLAKE AVE,Angles,2,0,0,2,2008/12/09 00:00:00+00,12/9/2008,At Intersection (intersection related),11,0,Raining,Wet,Daylight,N
7,2,Intersection,BROADWAY AND E PIKE ST,Cycles,3,0,1,1,2020/04/15 00:00:00+00,4/15/2020 5:47:00 PM,At Intersection (intersection related),51,N,Clear,Dry,Daylight,N
8,1,Block,PINE ST BETWEEN 5TH AVE AND 6TH AVE,Parked Car,2,0,0,2,2006/06/15 00:00:00+00,6/15/2006 1:00:00 PM,Mid-Block (not related to intersection),11,0,Clear,Dry,Daylight,N
9,2,Intersection,41ST AVE SW AND SW THISTLE ST,Angles,2,0,0,2,2006/03/20 00:00:00+00,3/20/2006 3:49:00 PM,At Intersection (intersection related),11,0,Clear,Dry,Daylight,N

In [82]:
#Address types
df['ADDRTYPE'].value_counts()
#To calculate most common type
df['ADDRTYPE'].value_counts().idxmax()
#Replace NaN values with most common type
df["ADDRTYPE"].replace(np.nan, "Block", inplace=True)

In [83]:
#Location
df['LOCATION'].value_counts()
#To calculate most common type
df['LOCATION'].value_counts().idxmax()
#Replace NaN values with most common type
df["LOCATION"].replace(np.nan, "BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N", inplace=True)

In [84]:
#COLLISIONTYPE
df['COLLISIONTYPE'].value_counts()
#To calculate most common type
df['COLLISIONTYPE'].value_counts().idxmax()
#Replace NaN values with most common type
df["COLLISIONTYPE"].replace(np.nan, "Parked Car", inplace=True)

In [85]:
#JUNCTIONTYPE
df['JUNCTIONTYPE'].value_counts()
#To calculate most common type
df['JUNCTIONTYPE'].value_counts().idxmax()
#Replace NaN values with most common type
df["JUNCTIONTYPE"].replace(np.nan, "Mid-Block (not related to intersection)", inplace=True)

In [86]:
#UNDERINFL field values
df['UNDERINFL'].value_counts()

N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

In [87]:
#Replace Y to '1' and N to '0'
df['UNDERINFL'].replace(['N',0], 0, inplace=True)
df['UNDERINFL'].replace(['Y',1], 1, inplace=True)
#Replace NaN values with most common type
df["UNDERINFL"].replace(np.nan, "0", inplace=True)

In [88]:
#WEATHER
df['WEATHER'].value_counts()
#To calculate most common type
df['WEATHER'].value_counts().idxmax()
#Replace NaN values with most common type
df["WEATHER"].replace(np.nan, "Clear", inplace=True)

In [89]:
#ROADCOND
df['ROADCOND'].value_counts()
#To calculate most common type
df['ROADCOND'].value_counts().idxmax()
#Replace NaN values with most common type
df["ROADCOND"].replace(np.nan, "Dry", inplace=True)

In [90]:
#LIGHTCOND
df['LIGHTCOND'].value_counts()
#To calculate most common type
df['LIGHTCOND'].value_counts().idxmax()
#Replace NaN values with most common type
df["LIGHTCOND"].replace(np.nan, "Daylight", inplace=True)

In [91]:
#HITPARKEDCAR
df['HITPARKEDCAR'].value_counts()
#Replace NaN values with most common type
df["HITPARKEDCAR"].replace(np.nan, "N", inplace=True)

* Data Evaluaion

In [92]:
#Check if the fields are in correct data types
df.dtypes

SEVERITYCODE      int64
ADDRTYPE         object
LOCATION         object
COLLISIONTYPE    object
PERSONCOUNT       int64
PEDCOUNT          int64
PEDCYLCOUNT       int64
VEHCOUNT          int64
INCDATE          object
INCDTTM          object
JUNCTIONTYPE     object
SDOT_COLCODE      int64
UNDERINFL        object
WEATHER          object
ROADCOND         object
LIGHTCOND        object
HITPARKEDCAR     object
dtype: object

* Data Standarization

The fields INCDATE and INCDTTM should be of date time object. So need to convert the data types of these two fields.

In [93]:
# Convert the INCDATE and INCDTTM field to date time object
df['INCDATE'] = pd.to_datetime(df['INCDATE'])
df['INCDTTM'] = pd.to_datetime(df['INCDTTM'])
df.head()

,SEVERITYCODE,ADDRTYPE,LOCATION,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,HITPARKEDCAR
0,2,Intersection,5TH AVE NE AND NE 103RD ST,Angles,2,0,0,2,2013-03-27 00:00:00+00:00,2013-03-27 14:54:00,At Intersection (intersection related),11,0,Overcast,Wet,Daylight,N
1,1,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,2,0,0,2,2006-12-20 00:00:00+00:00,2006-12-20 18:55:00,Mid-Block (not related to intersection),16,0,Raining,Wet,Dark - Street Lights On,N
2,1,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car,4,0,0,3,2004-11-18 00:00:00+00:00,2004-11-18 10:20:00,Mid-Block (not related to intersection),14,0,Overcast,Dry,Daylight,N
3,1,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Other,3,0,0,3,2013-03-29 00:00:00+00:00,2013-03-29 09:26:00,Mid-Block (not related to intersection),11,0,Clear,Dry,Daylight,N
4,2,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Angles,2,0,0,2,2004-01-28 00:00:00+00:00,2004-01-28 08:04:00,At Intersection (intersection related),11,0,Raining,Wet,Daylight,N

In [94]:
#List of Columns after conversion
df.dtypes

SEVERITYCODE                   int64
ADDRTYPE                      object
LOCATION                      object
COLLISIONTYPE                 object
PERSONCOUNT                    int64
PEDCOUNT                       int64
PEDCYLCOUNT                    int64
VEHCOUNT                       int64
INCDATE          datetime64[ns, UTC]
INCDTTM               datetime64[ns]
JUNCTIONTYPE                  object
SDOT_COLCODE                   int64
UNDERINFL                     object
WEATHER                       object
ROADCOND                      object
LIGHTCOND                     object
HITPARKEDCAR                  object
dtype: object